body{font-family:Arial, Helvetica, sans-serif;
         }


     
img {max-width: 100%;
        height: auto;}

h4{text-align: center;}

table.center {margin-left:auto; 
                     margin-right:auto;}



