body{font-family:Arial, Helvetica, sans-serif;
         }

p{text-align:center;} 
     
#nearestgurl {
  font-size: 30px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }